Repository mrcaidev/hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

.lintstagedrc.json:

{
  "*.{astro,ts,tsx}": [
    "eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache",
    "prettier --write --cache --plugin-search-dir=."
  ],
  "*.{html,json,md,mdx,yml,yaml}": "prettier --write --cache --plugin-search-dir=."
}

chore(config): track vscode settings
  .gitignore
  .vscode/settings.json
Due: prettier --write --cache --plugin-search-dir=.

build(dep): bump @commitlint/*
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --plugin-search-dir=.

docs: initialize astro
  docs/README.md
  docs/astro.config.ts
  docs/package.json
  docs/src/env.d.ts
  docs/src/pages/index.astro
  docs/tailwind.config.js
  docs/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

build(config): eslint-plugin-import ignore astro files
  packages/eslint-config-custom/index.json
Due: prettier --write --cache --plugin-search-dir=.

docs: layout
  docs/package.json
  docs/public/banner.jpg
  docs/src/components/Head.astro
  docs/src/components/Header/GithubLink.astro
  docs/src/components/Header/Header.astro
  docs/src/components/Header/Logo.astro
  docs/src/components/Header/MenuToggler.tsx
  docs/src/components/Header/ThemeToggler.tsx
  docs/src/components/Header/index.ts
  docs/src/components/Nav/Nav.astro
  docs/src/components/Nav/NavLink.astro
  docs/src/components/Nav/index.ts
  docs/src/data/navLinks.json
  docs/src/layouts/DocLayout.astro
  docs/src/models/frontmatter.model.ts
  docs/src/pages/index.astro
  docs/src/pages/introduction.md
  docs/src/styles/global.css
  docs/tailwind.config.js
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

docs: add tailwind typography plugin
  docs/package.json
  docs/src/layouts/DocLayout.astro
  docs/src/pages/introduction.md
  docs/src/styles/global.css
  docs/tailwind.config.js
  pnpm-lock.yaml
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

docs: add mdx integration
  docs/astro.config.ts
  docs/package.json
  docs/src/pages/introduction.mdx
  pnpm-lock.yaml
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

docs: better layout
  docs/src/components/Header/Logo.astro
  docs/src/components/TOC.astro
  docs/src/layouts/DocLayout.astro
  docs/src/pages/introduction.mdx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

docs: remove custom fonts
  docs/package.json
  docs/src/layouts/DocLayout.astro
  docs/tailwind.config.js
  pnpm-lock.yaml
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

docs: custom 404 page
  docs/src/components/Head.astro
  docs/src/layouts/BaseLayout.astro
  docs/src/pages/404.astro
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

docs: add overview to toc
  docs/src/components/TOC.astro
  docs/src/layouts/DocLayout.astro
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

build(config): treat mdx as md
  .vscode/settings.json
Due: prettier --write --cache --plugin-search-dir=.

docs: introduction page
  docs/src/pages/introduction.mdx
Due: prettier --write --cache --plugin-search-dir=.

docs: installation page
  docs/src/pages/installation.md
Due: prettier --write --cache --plugin-search-dir=.

docs: hide code fence ticks
  docs/src/styles/global.css
Due: none

docs: useBoolean
  docs/src/pages/use-boolean.md
Due: prettier --write --cache --plugin-search-dir=.

refactor(config): use config from @mrcaidev
  .eslintrc.json
  .gitignore
  .lintstagedrc.json
  .npmrc
  .prettierrc.json
  docs/astro.config.ts
  docs/package.json
  docs/src/components/Header/Logo.astro
  docs/tsconfig.json
  jest.config.ts
  package.json
  packages/eslint-config-custom/index.json
  packages/eslint-config-custom/package.json
  packages/hooks/api-extractor.json
  packages/hooks/etc/hooks.api.md
  packages/hooks/package.json
  packages/hooks/tsconfig.cjs.json
  packages/hooks/tsconfig.esm.json
  packages/hooks/tsconfig.json
  packages/prettier-config-custom/index.json
  packages/prettier-config-custom/package.json
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

docs: update docs
  README.md
  docs/astro.config.ts
  docs/package.json
  docs/src/pages/installation.md
  docs/src/pages/introduction.md
  docs/src/pages/introduction.mdx
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

build(script): add dev script for hooks
  packages/hooks/package.json
Due: prettier --write --cache --plugin-search-dir=.

fix: useClickOutside no longer trigger callback immediately after ref mount
  packages/hooks/src/use-click-outside.ts
  packages/hooks/tests/use-click-outside.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: useDocument
  packages/hooks/src/index.ts
  packages/hooks/src/use-document.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: useUnsafeOnceEffect
  packages/hooks/src/index.ts
  packages/hooks/src/use-unsafe-once-effect.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

test: useDocument
  packages/hooks/tests/use-document.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: useUnsafeOnceEffect cleanup works
  packages/hooks/src/use-unsafe-once-effect.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

test: useUnsafeOnceEffect
  packages/hooks/tests/use-unsafe-once-effect.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: useUpdate cache effect in ref
  packages/hooks/src/use-update.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: useSafeLayoutEffect
  packages/hooks/src/index.ts
  packages/hooks/src/use-safe-layout-effect.ts
  packages/hooks/tests/use-isomorphic-effect.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: match ssr and client html
  packages/hooks/src/use-media-query.ts
  packages/hooks/src/use-storage.ts
  packages/hooks/src/use-window-size.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: useTheme no longer depends on other hooks
  packages/hooks/src/use-theme.ts
  packages/hooks/tests/use-theme.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: useTheme safely stores user theme
  packages/hooks/src/use-theme.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

docs: polish doc layout
  docs/src/components/Header/ThemeToggler.tsx
  docs/src/data/navLinks.json
  docs/src/layouts/DocLayout.astro
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

build(dep): bump packages version
  docs/package.json
  package.json
  packages/hooks/package.json
  pnpm-lock.yaml
Due: prettier --write --cache --plugin-search-dir=.

feat: v0.6.0
  packages/hooks/package.json
Due: prettier --write --cache --plugin-search-dir=.

build(dep): update lock file
  pnpm-lock.yaml
Due: prettier --write --cache --plugin-search-dir=.

feat: useInterval
  packages/hooks/src/index.ts
  packages/hooks/src/use-interval.ts
  packages/hooks/tests/use-interval.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: rename useDelayEffect to useTimeout
  packages/hooks/src/index.ts
  packages/hooks/src/use-timeout.ts
  packages/hooks/tests/use-timeout.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: usePrevious
  packages/hooks/src/index.ts
  packages/hooks/src/use-previous.ts
  packages/hooks/tests/use-previous.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

test: rename useIsomorphicEffect to useSafeLayoutEffect
  packages/hooks/tests/use-safe-layout-effect.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

build(config): remove tsbuildinfo from dist
  packages/hooks/tsconfig.cjs.json
  packages/hooks/tsconfig.esm.json
Due: prettier --write --cache --plugin-search-dir=.
