Repository mrcaidev/hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro}": [
    "eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache",
    "prettier --write --cache --plugin-search-dir=."
  ],
  "*.{html,css,json,md,mdx,yml,yaml}": "prettier --write --cache --plugin-search-dir=."
}

feat: v0.7.0
  packages/hooks/package.json
Due: prettier --write --cache --plugin-search-dir=.

build: require react-dom as a peer dependency
  packages/hooks/package.json
  packages/hooks/tsconfig.json
  packages/hooks/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

build: remove source map and declaration map
  packages/typescript-config-custom/base.json
Due: prettier --write --cache --plugin-search-dir=.

fix: use `typeof document` to check browser
  packages/hooks/src/use-document.ts
  packages/hooks/src/use-safe-layout-effect.ts
  packages/hooks/src/use-storage.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

test: add vitest coverage tool
  packages/hooks/package.json
  pnpm-lock.yaml
Due: prettier --write --cache --plugin-search-dir=.

refactor: use type instead of interface
  packages/hooks/src/use-debounce-effect.ts
  packages/hooks/src/use-debounce.ts
  packages/hooks/src/use-keydown.ts
  packages/hooks/src/use-local-storage.ts
  packages/hooks/src/use-session-storage.ts
  packages/hooks/src/use-storage.ts
  packages/hooks/src/use-theme.ts
  packages/hooks/src/use-throttle-effect.ts
  packages/hooks/src/use-throttle.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: useIsMounted
  packages/hooks/src/use-is-mounted.ts
  packages/hooks/tests/use-is-mounted.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

test: organize tests better
  packages/hooks/tests/use-boolean.test.ts
  packages/hooks/tests/use-click-outside.test.ts
  packages/hooks/tests/use-const-fn.test.ts
  packages/hooks/tests/use-const.test.ts
  packages/hooks/tests/use-counter.test.ts
  packages/hooks/tests/use-debounce-effect.test.ts
  packages/hooks/tests/use-debounce.test.ts
  packages/hooks/tests/use-document.test.ts
  packages/hooks/tests/use-event-listener.test.ts
  packages/hooks/tests/use-focus-trap.test.ts
  packages/hooks/tests/use-hover.test.ts
  packages/hooks/tests/use-interval.test.ts
  packages/hooks/tests/use-is-mounted.test.ts
  packages/hooks/tests/use-keydown.test.ts
  packages/hooks/tests/use-latest.test.ts
  packages/hooks/tests/use-local-storage.test.ts
  packages/hooks/tests/use-media-query.test.ts
  packages/hooks/tests/use-mount.test.ts
  packages/hooks/tests/use-previous.test.ts
  packages/hooks/tests/use-rerender.test.ts
  packages/hooks/tests/use-safe-layout-effect.test.ts
  packages/hooks/tests/use-session-storage.test.ts
  packages/hooks/tests/use-theme.test.ts
  packages/hooks/tests/use-throttle-effect.test.ts
  packages/hooks/tests/use-throttle.test.ts
  packages/hooks/tests/use-timeout.test.ts
  packages/hooks/tests/use-title.test.ts
  packages/hooks/tests/use-toggle.test.ts
  packages/hooks/tests/use-unmount.test.ts
  packages/hooks/tests/use-unsafe-once-effect.test.ts
  packages/hooks/tests/use-update.test.ts
  packages/hooks/tests/use-window-size.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

test: improve coverage
  packages/hooks/tests/use-click-outside.test.ts
  packages/hooks/tests/use-event-listener.test.ts
  packages/hooks/tests/use-focus-trap.test.ts
  packages/hooks/tests/use-hover.test.ts
  packages/hooks/tests/use-local-storage.test.ts
  packages/hooks/tests/use-session-storage.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: improve useStorage logic
  packages/hooks/src/use-local-storage.ts
  packages/hooks/src/use-session-storage.ts
  packages/hooks/src/use-storage.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: hooks rely on each other
  packages/hooks/src/types/events.d.ts
  packages/hooks/src/types/utils.d.ts
  packages/hooks/src/use-click-outside.ts
  packages/hooks/src/use-debounce-effect.ts
  packages/hooks/src/use-debounce.ts
  packages/hooks/src/use-document.ts
  packages/hooks/src/use-event-listener.ts
  packages/hooks/src/use-focus-trap.ts
  packages/hooks/src/use-hover.ts
  packages/hooks/src/use-interval.ts
  packages/hooks/src/use-keydown.ts
  packages/hooks/src/use-latest.ts
  packages/hooks/src/use-local-storage.ts
  packages/hooks/src/use-media-query.ts
  packages/hooks/src/use-previous.ts
  packages/hooks/src/use-session-storage.ts
  packages/hooks/src/use-theme.ts
  packages/hooks/src/use-throttle-effect.ts
  packages/hooks/src/use-throttle.ts
  packages/hooks/src/use-timeout.ts
  packages/hooks/src/use-toggle.ts
  packages/hooks/src/use-unsafe-once-effect.ts
  packages/hooks/src/use-update.ts
  packages/hooks/src/use-window-size.ts
  packages/hooks/src/use-window.ts
  packages/hooks/tests/use-focus-trap.test.ts
  packages/hooks/tests/use-media-query.test.ts
  packages/hooks/tests/use-previous.test.ts
  packages/hooks/tests/use-theme.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: full event map typing support
  packages/hooks/src/types/events.d.ts
  packages/hooks/tests/use-event-listener.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

build: replace jsdom with happy-dom
  packages/hooks/package.json
  packages/hooks/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

test: use width query to test useMediaQuery
  packages/hooks/tests/use-media-query.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: re-evaluate event listener on query changes
  packages/hooks/src/use-media-query.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: skip option test until happy-dom adds support
  packages/hooks/tests/use-event-listener.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

build: revert to jsdom
  packages/hooks/package.json
  packages/hooks/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

test: polyfill window.matchMedia
  packages/hooks/tests/use-media-query.test.ts
  packages/hooks/tests/use-theme.test.ts
  packages/hooks/tests/utils/match-media.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

test: improve test code quality
  packages/hooks/tests/use-boolean.test.ts
  packages/hooks/tests/use-counter.test.ts
  packages/hooks/tests/use-debounce-effect.test.ts
  packages/hooks/tests/use-debounce.test.ts
  packages/hooks/tests/use-event-listener.test.ts
  packages/hooks/tests/use-focus-trap.test.ts
  packages/hooks/tests/use-interval.test.ts
  packages/hooks/tests/use-keydown.test.ts
  packages/hooks/tests/use-latest.test.ts
  packages/hooks/tests/use-local-storage.test.ts
  packages/hooks/tests/use-mount.test.ts
  packages/hooks/tests/use-previous.test.ts
  packages/hooks/tests/use-safe-layout-effect.test.ts
  packages/hooks/tests/use-session-storage.test.ts
  packages/hooks/tests/use-theme.test.ts
  packages/hooks/tests/use-throttle-effect.test.ts
  packages/hooks/tests/use-throttle.test.ts
  packages/hooks/tests/use-title.test.ts
  packages/hooks/tests/use-toggle.test.ts
  packages/hooks/tests/use-unsafe-once-effect.test.ts
  packages/hooks/tests/use-update.test.ts
  packages/hooks/tests/use-window-size.test.ts
  packages/hooks/tests/use-window.test.ts
  packages/hooks/tests/utils/match-media.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: usePrevious cannot update ref
  packages/hooks/src/use-previous.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: default theme gets accidentally stored
  packages/hooks/src/use-storage.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: improve hook logic
  packages/hooks/src/use-theme.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: export useIsMounted and useWindow
  packages/hooks/src/index.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: add todo on const generic
  packages/hooks/src/use-toggle.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: export options and key types
  packages/hooks/src/index.ts
  packages/hooks/src/use-debounce-effect.ts
  packages/hooks/src/use-debounce.ts
  packages/hooks/src/use-event-listener.ts
  packages/hooks/src/use-keydown.ts
  packages/hooks/src/use-local-storage.ts
  packages/hooks/src/use-session-storage.ts
  packages/hooks/src/use-storage.ts
  packages/hooks/src/use-theme.ts
  packages/hooks/src/use-throttle-effect.ts
  packages/hooks/src/use-throttle.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

build: roll up dts files
  packages/hooks/vite.config.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

test: import from src instead of concrete file
  packages/hooks/tests/use-boolean.test.ts
  packages/hooks/tests/use-click-outside.test.ts
  packages/hooks/tests/use-const-fn.test.ts
  packages/hooks/tests/use-const.test.ts
  packages/hooks/tests/use-counter.test.ts
  packages/hooks/tests/use-debounce-effect.test.ts
  packages/hooks/tests/use-debounce.test.ts
  packages/hooks/tests/use-document.test.ts
  packages/hooks/tests/use-event-listener.test.ts
  packages/hooks/tests/use-focus-trap.test.ts
  packages/hooks/tests/use-hover.test.ts
  packages/hooks/tests/use-interval.test.ts
  packages/hooks/tests/use-is-mounted.test.ts
  packages/hooks/tests/use-keydown.test.ts
  packages/hooks/tests/use-latest.test.ts
  packages/hooks/tests/use-local-storage.test.ts
  packages/hooks/tests/use-media-query.test.ts
  packages/hooks/tests/use-mount.test.ts
  packages/hooks/tests/use-previous.test.ts
  packages/hooks/tests/use-rerender.test.ts
  packages/hooks/tests/use-safe-layout-effect.test.ts
  packages/hooks/tests/use-session-storage.test.ts
  packages/hooks/tests/use-theme.test.ts
  packages/hooks/tests/use-throttle-effect.test.ts
  packages/hooks/tests/use-throttle.test.ts
  packages/hooks/tests/use-timeout.test.ts
  packages/hooks/tests/use-title.test.ts
  packages/hooks/tests/use-toggle.test.ts
  packages/hooks/tests/use-unmount.test.ts
  packages/hooks/tests/use-unsafe-once-effect.test.ts
  packages/hooks/tests/use-update.test.ts
  packages/hooks/tests/use-window-size.test.ts
  packages/hooks/tests/use-window.test.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: rename isJustMountedRef to shouldSkipRef
  packages/hooks/src/use-debounce-effect.ts
  packages/hooks/src/use-debounce.ts
  packages/hooks/src/use-throttle-effect.ts
  packages/hooks/src/use-throttle.ts
  packages/hooks/src/use-update.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

docs: polish up README
  README.md
Due: prettier --write --cache --plugin-search-dir=.

chore: ignore coverage folder
  .eslintignore
  .prettierignore
Due: none

refactor: colocate types
  packages/hooks/src/index.ts
  packages/hooks/src/types/events.d.ts
  packages/hooks/src/types/utils.d.ts
  packages/hooks/src/use-const-fn.ts
  packages/hooks/src/use-event-listener.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: remove deprecated event targets
  packages/hooks/src/use-event-listener.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: soft link root README to package README
  packages/hooks/README.md
Due: prettier --write --cache --plugin-search-dir=.

feat: v0.8.0
  packages/hooks/package.json
Due: prettier --write --cache --plugin-search-dir=.

ci: publish on release
  .github/workflows/publish-on-release.yaml
  package.json
Due: prettier --write --cache --plugin-search-dir=.

ci: allow manual dispatch
  .github/workflows/publish-on-release.yaml
  README.md
Due: prettier --write --cache --plugin-search-dir=.

ci: setup pnpm before node
  .github/workflows/publish-on-release.yaml
  package.json
Due: prettier --write --cache --plugin-search-dir=.

fix: useUpdate fails in react 18 strict dev mode
  packages/hooks/src/use-update.ts
Due: eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: v0.8.1
  packages/hooks/package.json
Due: prettier --write --cache --plugin-search-dir=.
