Repository mrcaidev/hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, pnpm format

.lintstagedrc.json:

{
  "*.{ts,tsx,astro}": ["pnpm lint", "pnpm format"],
  "*.{css,json,md}": "pnpm format"
}

test: never runs without dependency argument
  packages/hooks/tests/use-update.test.ts
Due: pnpm lint, pnpm format

refactor: extract internal dts file
  packages/hooks/src/use-const-fn.ts
  packages/hooks/src/utils.d.ts
Due: pnpm lint, pnpm format

feat: useAsyncEffect
  packages/hooks/src/index.ts
  packages/hooks/src/use-async-effect.ts
  packages/hooks/src/utils.d.ts
  packages/hooks/tests/use-async-effect.test.ts
Due: pnpm lint, pnpm format

refactor: extract types and optimize build process
  packages/hooks/package.json
  packages/hooks/scripts/remove-redundant-dts.js
  packages/hooks/src/index.ts
  packages/hooks/src/types/events.d.ts
  packages/hooks/src/types/utils.d.ts
  packages/hooks/src/use-async-effect.ts
  packages/hooks/src/use-const-fn.ts
  packages/hooks/src/use-event-listener.ts
  packages/hooks/src/utils.d.ts
Due: pnpm lint, pnpm format

feat: useClipboardText
  packages/hooks/src/index.ts
  packages/hooks/src/use-clipboard-text.ts
  packages/hooks/src/utils.ts
  packages/hooks/tests/use-clipboard-text.test.ts
Due: pnpm lint, pnpm format

fix: recovers from error on successful read/write
  packages/hooks/src/use-clipboard-text.ts
  packages/hooks/tests/use-clipboard-text.test.ts
Due: pnpm lint, pnpm format

feat: provide `read` api
  packages/hooks/src/use-clipboard-text.ts
  packages/hooks/tests/use-clipboard-text.test.ts
Due: pnpm lint, pnpm format

feat: useSelection
  packages/hooks/src/index.ts
  packages/hooks/src/use-selection.ts
  packages/hooks/tests/use-selection.test.ts
Due: pnpm lint, pnpm format

refactor: rename useUpdate to useUpdateDeps
  packages/hooks/src/index.ts
  packages/hooks/src/use-update-deps.ts
  packages/hooks/tests/use-update-deps.test.ts
Due: pnpm lint, pnpm format

test: improve lifecycle mock fn logic
  packages/hooks/tests/use-mount.test.ts
  packages/hooks/tests/use-unsafe-once-effect.test.ts
Due: pnpm lint, pnpm format

refactor: uniform lifecycle hooks documents
  packages/hooks/src/use-is-mounted.ts
  packages/hooks/src/use-mount.ts
  packages/hooks/src/use-rerender.ts
  packages/hooks/src/use-unmount.ts
  packages/hooks/src/use-unsafe-once-effect.ts
  packages/hooks/src/use-update-deps.ts
Due: pnpm lint, pnpm format

feat: useUpdate
  packages/hooks/src/index.ts
  packages/hooks/src/use-update.ts
  packages/hooks/tests/use-update.test.ts
Due: pnpm lint, pnpm format

refactor: necessitates dependency list argument
  packages/hooks/src/use-update-deps.ts
  packages/hooks/tests/use-update-deps.test.ts
Due: pnpm lint, pnpm format

feat: useElementSize
  packages/hooks/src/index.ts
  packages/hooks/src/use-element-size.ts
  packages/hooks/tests/use-element-size.test.ts
Due: pnpm lint, pnpm format

ci: temporarily skip git checks on publish
  .github/workflows/publish-on-release.yaml
Due: none

feat: v0.9.0
  packages/hooks/package.json
Due: pnpm format

fix: invalid jsxImportSource
  packages/typescript-config-custom/base.json
Due: pnpm format

chore: remove eslint-plugin-react
  packages/eslint-config-custom/index.json
  packages/eslint-config-custom/package.json
Due: pnpm format

chore: tweak ts eslint behavior
  packages/eslint-config-custom/index.json
Due: pnpm format

build: auto-generate navigation json
  docs/src/data/navigation.json
  package.json
  scripts/generate-navigation-json.js
Due: pnpm format

docs: recognize css in rehype plugin
  docs/tailwind.config.cjs
Due: none

chore: add code of conduct
  .github/CODE_OF_CONDUCT.md
Due: pnpm format

chore: fix lint-staged config
  .lintstagedrc.json
Due: pnpm format

build: let turbo handle test, lint and format
  package.json
  packages/hooks/package.json
  turbo.json
Due: pnpm format

chore: add contributing guide
  .github/CONTRIBUTING.md
  packages/hooks/README.md
Due: pnpm format

chore: create vercel.json
  docs/vercel.json
Due: pnpm format

ci: deploy docs on push to /docs
  .github/workflows/deploy-documentation.yaml
Due: none

ci: add test before building package
  .github/workflows/publish-on-release.yaml
Due: none

ci: test package on every push or pr
  .github/workflows/test-package.yaml
Due: none

ci: enable turbo remote caching and improve logic
  .github/workflows/deploy-documentation.yaml
  .github/workflows/publish-package.yaml
Due: none

ci: add codeql analysis
  .github/workflows/codeql.yaml
Due: none

chore: add issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/documentation-improvement.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: pnpm format

chore: add discussion link in issue template
  .github/ISSUE_TEMPLATE/config.yaml
Due: none

ci: replace yaml with yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-documentation.yml
  .github/workflows/publish-package.yml
  .github/workflows/test-package.yml
Due: none

docs: update getting started section
  docs/src/pages/installation.md
  docs/src/pages/introduction.md
Due: pnpm format

refactor: auto generate update date from git log
  docs/package.json
  docs/src/components/doc-footer/doc-footer.astro
  docs/src/components/doc-footer/last-updated-at.astro
  docs/src/env.d.ts
  docs/src/layouts/doc-layout.astro
  docs/src/pages/installation.md
  docs/src/pages/introduction.md
  docs/src/pages/use-boolean.md
  docs/src/utils/get-git-update-date.ts
  pnpm-lock.yaml
Due: pnpm lint, pnpm format

refactor: auto generate title as first h1 element
  docs/src/env.d.ts
  docs/src/layouts/doc-layout.astro
  docs/src/pages/installation.md
  docs/src/pages/introduction.md
  docs/src/pages/use-boolean.md
Due: pnpm lint, pnpm format

docs: update hooks docs
  docs/src/pages/use-async-effect.md
  docs/src/pages/use-boolean.md
Due: pnpm format

fix: use now as updated date for uncommitted files
  docs/src/utils/get-git-update-date.ts
Due: pnpm lint, pnpm format
